# Build results
[Bb]in/
[Oo]bj/

# Visual Studio user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio workspace/cache
.vs/

# Rider/JetBrains
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
